tests
.cache
.clangd
.vscode
.cursorrules
.cursorignore
.cursor
venv
compile_commands.json
*.bc
*.ll
.vscode
.settings
.idea
.cproject
.project
.DS_Store
cmake-build-*
build
*.a
*.o
*.ll
*.log
*+Asserts
nbproject
alias-Makefile.mk
config.status
Makefile.common
Makefile.llvm.config
*.exe
*.swp
canary.zip
.sconsign.dblite
bin
*~
# sympy
*.sout
*.sympy
# cpp, java, py, ocaml, llvm
*.d
*.slo
*.lo
*.obj
*.gch
*.pch
*.dll
*.lai
*.la
*.lib
*.exe
*.out
*.app
*.cma
*.cmo
*.cmi
*.cmxa
*.class
*.pyc
*.pyo
# Directories, log, ..
callgrind.out.*
.z3-trace
dist/*
docs/build
/.vs
